.gallery {
    min-height: 100vh;
}

.galleryGrid {
    display: flex;
    /* Use grid layout */
    grid-template-columns: repeat(3, 1fr);
    /* Create three equal columns */
    gap: 15px;
    /* Adjust gap between items */
    justify-content: center;
}

.grid-sizer,
.grid-item {
    width: 33.3333333%;
    /* Let the items expand to fill the available space */
    margin-bottom: 0px;
    /* Remove extra margin here */
    position: relative;

    @include media-breakpoint-down(md) {
        width: 50%;
    }

    @include media-breakpoint-down(sm) {}
}

.grid-item a {
    overflow: hidden;
    display: block;
    margin: 8px;
}

.grid-item a img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.grid-item a:hover img {
    transform: scale(1.05);
}

.gallery-link {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

.grid-item:hover .gallery-link {
    opacity: 1;
}

.fancybox__container {
    // --f-thumb-clip-width: auto;

    // .f-thumbs__slide__button {
    //     --f-thumb-clip-width: auto;
    // }
}

.fancybox__thumbs.is-modern {
    --f-thumb-clip-width: auto !important;
}