header {
    transition: all 0.3s ease;
    position: relative;
    z-index: 1002;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.topHeader {
    background: $primary;
    color: #fff;
    position: relative;

    .backBtn {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);

        span {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    .logo {
        position: relative;
        text-align: center;
        height: 100px;
        padding: 10px 0;
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: 20px;

        @include media-breakpoint-down(md) {
            height: 60px;
            justify-content: flex-start;
        }

        img {
            // position: absolute;
            // left: 0;
            // top: 50%;
            // transform: translateY(-50%);
            width: 40px;
            height: auto;
            display: block;

            @include media-breakpoint-down(md) {
                // position: relative;
                // top: 0;
                // transform: none;
                // margin-right: 20px;
                width: 24px;
            }

            @include media-breakpoint-down(sm) {
                // width: 24px;
            }
        }

        span {
            font-family: "Playfair Display", serif;
            font-family: 'logo';
            font-size: 40px;
            font-weight: 700;
            color: #fff;
            display: block;
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
                font-size: 24px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 18px;
            }
        }
    }

}

.navbar {
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #E5E5E5;

    .navbar-toggler {
        border: none;
        padding: 0;
        background: transparent;
        color: $primary;
        padding: 10px 15px;
        margin-left: auto;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        @include media-breakpoint-down(lg) {
            position: absolute;
            top: -75px;
            right: 15px;
            color: #fff;
        }

        @include media-breakpoint-down(md) {
            top: -52px;
        }
    }

    .navbar-nav {
        gap: 40px;
        transition: gap 0.3s ease;

        @include media-breakpoint-down(md) {
            gap: 20px;
        }

        .nav-link {
            color: #000;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 400;
            height: 50px;
            padding: 0px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            position: relative;
            transition: height 0.3s ease, padding 0.3s ease;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: $secondary;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }

            &:hover,
            &.active {
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    .btn-close {
        background-size: .6rem;
    }

    .offcanvas {
        @include media-breakpoint-down(lg) {
            .navbar-nav {
                gap: 4px;
            }

            .nav-link {
                height: 40px;
                padding: 10px 15px;

                &::before {
                    width: 2px;
                    height: 100%;
                    left: 0;
                    bottom: 0;
                    transform: scaleY(0);
                    transition: transform 0.3s ease;
                }

                &:hover,
                &.active {
                    color: $secondary;

                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }

    }
}

.scrolled {
    position: sticky;

    .topHeader {
        .logo {
            // height: 60px;

            img {
                // width: 26px;
            }

            span {
                // font-size: 18px;
            }
        }
    }

    .navbar {
        .navbar-toggler {
            // top: -52px;
        }
    }
}